= cache(cache_key) do

  = render 'shared/components/filtered_warning_with_count', total_count: total_count, filtered_count: filtered_count, filtered: filtered?

  .my-4

    %hr{'aria-hidden': 'true'}

    = render 'transparency/exports/form'

    %hr{'aria-hidden': 'true'}

    .fa.fa-spin.fa-refresh.m-1.text-muted.float-right{'data-remote-content-loader': ''}

    .row
      .col-12.col-lg-4
        .content-with-label
          - label = raw(t('.counts.filtered_count.title'))
          - value = number_with_delimiter(filtered_count)

          %label.content-label{'aria-label': label, title: label}
            = label

          .content-value{'aria-label': value, title: value}
            .h3.text-muted
              = value

      .col-12.col-lg-4
        .content-with-label
          - label = raw(t('.counts.filtered_sum.valor.title'))
          - value = number_to_currency(filtered_sum[:valor])

          %label.content-label{'aria-label': label, title: label}
            = label

          .content-value{'aria-label': value, title: value}
            .h3.text-muted
              = value

      .col-12.col-lg-4
        .content-with-label
          - label = raw(t('.counts.filtered_sum.valor_pago.title'))
          - value = number_to_currency(filtered_sum[:valor_pago])

          %label.content-label{'aria-label': label, title: label}
            = label

          .content-value{'aria-label': value, title: value}
            .h3.text-muted
              = value


    %hr{'aria-hidden': 'true'}

    - header = [:numero, :date_of_issue, :unidade_gestora, :credor, :item_despesa, { id: :valor, html_class: 'text-right w-15' }, { id: :valor_pago, html_class: 'text-right w-15' }]

    - table_locale = t('.table')

    = render 'shared/components/remote_table', header: header, collection: city_transfers, sort_columns: sort_columns, table_locale: table_locale do |city_transfer|

      - show_path = url_for(action: 'show', controller: 'expenses/city_transfers', id: city_transfer)

      = render 'shared/transparency/expenses/ned_related_row', ned: city_transfer, show_path: show_path
