- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.card.card-custom

  .card-header

    %h2.card-title
      = t('.title')

  .card-block{'data-toggle': 'remote-content-with-filter-bar'}

    .remote-content{'data-remote-content': controller_name}

      .row
        .col-4.offset-8.mb-2

          = link_to t('.new'), new_ppa_admin_proposal_theme_path, class: 'btn btn-success btn-block'

      .remote-content-result{ 'data-remote-content-result': controller_name }

        - if ppa_proposal_themes.empty?

          .text-muted.text-center
            = t('messages.filters.no_results_found')

        - else
          .table-responsive
            %table.table.table-hover.table-striped.table-sm.table-sorted

              %thead
                %tr
                  %th= PPA::ProposalTheme.human_attribute_name(:start_in)
                  %th= PPA::ProposalTheme.human_attribute_name(:end_in)
                  %th= PPA::ProposalTheme.human_attribute_name(:plan)
                  %th= PPA::ProposalTheme.human_attribute_name(:region)

                - ppa_proposal_themes.each do |proposal_theme|
                  - show_path = ppa_admin_proposal_theme_path(proposal_theme)
                  %tr

                    %td
                      = link_to proposal_theme.start_in, show_path

                    %td
                      = link_to proposal_theme.end_in, show_path

                    %td
                      = link_to proposal_theme.plan.name, show_path

                    %td
                      = link_to proposal_theme.region.name, show_path

                    %td
                      .float-right
                        = link_to t('commands.edit'), edit_ppa_admin_proposal_theme_path(proposal_theme), class: 'btn text-muted btn-link hover-link float-left d-inline-block'

                        /= link_to t('commands.remove'), ppa_admin_proposal_theme_path(proposal_theme), method: :delete, 'data-confirm': t('commands.remove_confirm'), class: 'btn text-danger btn-link hover-link float-left d-inline-block'

          = paginate ppa_proposal_themes