- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.content-detail

  = render 'shared/admin/current_locale_alert'

  .card.card-custom

    .card-header

      .row
        .col-10
          %h2.card-title
            = t(".title")

        .col-2
          .float-right
            = link_to transparency_page_path(page), target: "_blank", class: 'btn text-muted btn-link hover-link float-left d-inline-block' do
              %i.fa.fa-external-link
              = t('commands.show')


    .card-block
      = render 'form', page: page
