/ - content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :javascript, javascript_include_tag(javascript)

= javascript_include_tag('ckeditor/init')


%h2.font-weight-bold
	= t('.title')

%hr.border-2

.row
	.col-md-12
		.mb-4.card.rounded.border-shadow
			.container.mt-4.mb-4
				.row
					.col-12
						%h4
							= t('.new')
				= simple_form_for([proposal], html: { data: { 'proposal-form' => '' } }, 
					url: ppa_plan_region_theme_proposals_path) do |f|
					= render partial: 'form', locals: { f: f }