- attachment = f.object

.nested-fields.row.mb-3
  .col-12

    .float-left

      - if attachment.persisted? && attachment.document.present?
        = render 'shared/attachments/attachment', attachment: attachment, image_size: :normal

      - else
        - document_class = attachment.document.present? ? 'd-none' : ''
        = f.input :document, as: :attachment, direct: true, label: false, hint: t('.file.hint'), input_html: { class: 'form-control-file', 'aria-label': t('simple_form.file.choose') }, wrapper_html: { class: "#{document_class}" }

        = attachment.document_filename


    = link_to_remove_association '', f, { class: 'fa fa-trash ml-2', 'aria-label': t('simple_form.file.remove') }
