.card-filters.filter-bar{'data-filter-bar': 'expenses_neds'}

  = form_for transparency_expenses_neds_path, method: :get, remote: true do |f|

    = render 'shared/sortered/hidden_filters'

    .row

      .col-12.col-lg-4
        = label_tag(:date_of_issue, Integration::Expenses::Ned.human_attribute_name(:date_of_issue))
        %i.fa.fa-question-circle{ title: t('.date_of_issue.information')}
        = text_field_tag(:date_of_issue,  params[:date_of_issue], data: { input: 'daterangepicker' }, class: 'form-control w-100')


      .col-12.col-lg-4
        - options = options_for_select(supports_organs_and_secretaries_from_executivo_for_select_with_all_option_codigo_orgao_as_id, params[:unidade_gestora])

        = label_tag(:unidade_gestora, Integration::Expenses::Ned.human_attribute_name(:unidade_gestora))
        = select_tag(:unidade_gestora, options, multiple: true)

      .col-12.col-lg-4
        = label_tag(:year, Integration::Expenses::Ned.human_attribute_name(:exercicio))

        = text_field_tag(:year, params[:year], placeholder: year, 'data-filter-bar-bypass-clear': '', class: 'form-control w-100 year-datetimepicker')

    .row.mt-3
      .col-12.col-lg-4
        - scope = Integration::Supports::AdministrativeRegion.where.not(codigo_regiao_resumido: nil).order(:titulo)
        - filter_name = :classificacao_regiao_administrativa
        - id_column_name = :codigo_regiao_resumido
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.female')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)

      .col-12.col-lg-4
        - scope = Integration::Supports::Function.order(:titulo)
        - filter_name = :classificacao_funcao
        - id_column_name = :codigo_funcao
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.female')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)


      .col-12.col-lg-4
        - scope = Integration::Supports::SubFunction.order(:titulo)
        - filter_name = :classificacao_subfuncao
        - id_column_name = :codigo_sub_funcao
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.female')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)

    .row.mt-3

      .col-12.col-lg-4
        - scope = Integration::Supports::GovernmentProgram.order(:titulo)
        - filter_name = :classificacao_programa_governo
        - id_column_name = :codigo_programa
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.female')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)

      .col-12.col-lg-4
        - scope = Integration::Supports::ResourceSource.order(:titulo)
        - filter_name = :classificacao_fonte_recursos
        - id_column_name = :codigo_fonte
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.female')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)

      .col-12.col-lg-4
        - scope = Integration::Supports::ExpenseElement.order(:titulo)
        - filter_name = :classificacao_elemento_despesa
        - id_column_name = :codigo_elemento_despesa
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.male')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)

    .row.mt-3
      .col-12.col-lg-4
        - scope = Integration::Supports::ExpenseNatureItem.order(:titulo)
        - filter_name = :item_despesa
        - id_column_name = :codigo_item_natureza
        - title_column_name = :titulo
        - all_message = I18n.t('messages.filters.select.all.male')

        - options = options_for_select(transparency_supports_domain_select_options(scope, id_column_name, title_column_name))
        = label_tag(filter_name, Integration::Expenses::Ned.human_attribute_name(filter_name))
        = select_tag(filter_name, options, multiple: true)

      .col-12.col-lg-4
        = label_tag(:numero, Integration::Expenses::Ned.human_attribute_name(:numero))
        = text_field_tag(:numero, params[:numero], class: 'form-control w-100')

      .col-12.col-lg-4{ data: { content: 'creditor' } }

        - url = search_api_v1_transparency_creditors_path(group: :neds)
        = label_tag(:creditor, t('shared.transparency.search.creditor_name.expense'))
        %i.fa.fa-spinner.fa-spin.fa-fw{ 'aria-hidden': 'true', 'data-content': 'loading' }
        = search_field_tag :search_datalist, params[:search_datalist], class: 'form-control loader', data: { input: 'creditor', url: url, 'param-name': 'nome', 'visible-properties': 'nome' }
        %small.form-text.text-muted
          = t('shared.transparency.search.hint')

    .row.mt-3
      .col-12.col-lg-9
        = label_tag(:search, t('messages.filters.search.label'))
        = text_field_tag(:search, params[:search], class: 'form-control w-100', 'data-filter-bar-ignore-submit-on-enter': 'true')
        %small.form-text.text-muted
          = t('.search.hint')


      .col-12.col-lg-3
        .mt-4.pt-2
          = f.submit t('commands.search'), class: 'btn btn-primary btn-block'

