= javascript_include_tag('ckeditor/init')

= simple_form_for [:admin, event] do |f|

  .row
    .col-12
      = f.input :title, autofocus: true

  .row
    .col-12.col-lg-6
      = f.input :category

    .col-12.col-lg-6
      = f.input :starts_at, as: :string, input_html: { value: event.starts_at, class: 'datetime-datetimepicker' }

  .row
    .col-12
      = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: :mini } }

  %hr{'aria-hidden': 'true'}

  .row.mt-3
    .col-lg-12
      = link_to t('.commands.cancel'), admin_events_path, class: 'btn btn-warning pull-left'
      = f.submit t('commands.save'), class: 'btn btn-primary pull-right'
