= render 'shared/components/filtered_warning_with_count', total_count: total_count, filtered_count: filtered_count, filtered: filtered?

.my-4

  - header = [:title, :category, :starts_at, :commands]

  - table_locale = t('.table')

  = render 'shared/components/remote_table', header: header, collection: events, sort_columns: sort_columns, table_locale: table_locale do |event|

    - show_path = can?(:show, event) ? admin_event_path(event) : '#!'

    %tr

      %td
        = link_to show_path, title: event.title do
          = filtered_highlighted(event.title.truncate(50))

      %td
        = link_to show_path, title: event.category do
          = filtered_highlighted(event.category)

      %td
        = link_to show_path do
          = l(event.starts_at, format: :shorter)

      %td
        .float-right
          - if can?(:edit, event)
            = link_to t('commands.edit'), edit_admin_event_path(event), class: 'btn text-muted btn-link hover-link float-left d-inline-block'

          - if can?(:manage, event)
            = link_to t('commands.remove'), admin_event_path(event), method: :delete, 'data-confirm': t('commands.remove_confirm'), class: 'btn text-danger btn-link'

