= render 'shared/transparency/index/stats', stats: stats, paths: { xlsx: xlsx_download_path, csv: csv_download_path } do

  .row
    .col-12
      - total_data = stats.data[:total]
      - consolidado_data = stats.data[:consolidado]
      - stats_year = stats.year
      - stats_month_start = stats.month_start
      - stats_month_end = stats.month_end
      - month_range_str = date_month_range_str(stats_month_start, stats_month_end, stats_year)

      .row
        .col-12.col-lg-4
          .content-with-label
            - label = raw(t('shared.transparency.revenues.accounts.index.stats.valor_previsto_inicial', date: stats_year))
            - value = number_to_currency(total_data[:valor_previsto_inicial])

            %label.content-label{'aria-label': label, title: label}
              %small
                = label

            .content-value{'aria-label': value, title: value}
              .h4.text-muted
                = value

        .col-12.col-lg-4
          .content-with-label
            - label = raw(t('shared.transparency.revenues.accounts.index.stats.valor_previsto_atualizado', date: month_range_str))
            - value = number_to_currency(total_data[:valor_previsto_atualizado])

            %label.content-label{'aria-label': label, title: label}
              %small
                = label

            .content-value{'aria-label': value, title: value}
              .h4.text-muted
                = value

        .col-12.col-lg-4
          .content-with-label
            - label = raw(t('shared.transparency.revenues.accounts.index.stats.valor_arrecadado', date: month_range_str))
            - value = number_to_currency(total_data[:valor_arrecadado])

            %label.content-label{'aria-label': label, title: label}
              %small
                = label

            .content-value{'aria-label': value, title: value}
              .h4.text-muted
                = value

        .col-12
          - charts_tabs = view_consolidated(consolidado_data)
          - charts_path = 'revenues/accounts'

          = render 'shared/transparency/index/charts', stats: stats, charts_path: charts_path, charts_tabs: charts_tabs, base_locale: t('shared.transparency.revenues.accounts.index.charts')

