= cache(cache_key) do

  = render 'shared/components/filtered_warning_with_count', total_count: total_count, filtered_count: filtered_count, filtered: filtered?

  .my-4

    %hr{'aria-hidden':'true'}

    .fa.fa-spin.fa-refresh.m-1.text-muted.float-right{'data-remote-content-loader': ''}

    .row
      .col-12.col-lg-6
        .content-with-label
          - label = raw(t('.counts.nlds_count.title'))
          - value = number_with_delimiter(filtered_count)

          %label.content-label{'aria-label': label, title: label}
            = label

          .content-value{'aria-label': value, title: value}
            .h3.text-muted
              = value

      .col-12.col-lg-6
        .content-with-label
          - label = raw(t('.counts.nlds_sum.title'))
          - value = number_to_currency(filtered_sum)

          %label.content-label{'aria-label': label, title: label}
            = label

          .content-value{'aria-label': value, title: value}
            .h3.text-muted
              = value

    %hr{'aria-hidden':'true'}

    - header = [:exercicio, :numero, :date_of_issue, :unidade_gestora, :credor, { id: :valor, html_class: 'text-right w-15' }, { id: :valor_retido, html_class: 'text-right w-15' }]

    - table_locale = t('.table')

    = render 'shared/components/remote_table', header: header, collection: nlds, sort_columns: sort_columns, table_locale: table_locale do |nld|

      - show_path = url_for(action: 'show', controller: 'nlds', id: nld)

      %tr

        %td
          = link_to show_path do
            = filtered_highlighted(nld.exercicio)

        %td
          = link_to show_path do
            = filtered_highlighted(nld.numero)

        %td
          - if nld.date_of_issue.present?

            = link_to show_path do
              - date_of_issue = l(nld.date_of_issue)
              - if filtered_params?([:date_of_issue])
                = highlight(date_of_issue, date_of_issue)
              - else
                = filtered_highlighted(date_of_issue)

        %td
          - management_unit_name = nld.management_unit_acronym || nld.unidade_gestora
          - management_unit_title = nld.management_unit_title || nld.unidade_gestora

          = link_to show_path, title: management_unit_title do
            - if filtered_params?([:unidade_gestora])
              = highlight(management_unit_name.truncate(30), management_unit_name.truncate(30))
            - else
              = filtered_highlighted(management_unit_name.truncate(30))

        %td
          - creditor_title = nld.creditor_title || nld.credor

          - if creditor_title.present?

            = link_to show_path, title: creditor_title do
              = filtered_highlighted(creditor_title.truncate(30))

        %td.text-right
          = link_to show_path do
            = number_to_currency(nld.valor)

        %td.text-right
          = link_to show_path do
            = number_to_currency(nld.valor_retido)
