.table-responsive
  %table.table.table-hover.table-sm.table-sorted{summary: t('.summary')}

    %thead

      %tr

        - heads = [:unidade, :year, :month, :poder, :account_configuration_title, :valor_credito, :valor_debito ]

        - heads.each_with_index do |head, index|
          - sort_column_name = sort_columns[index]

          %th{ class: "#{sortered_table_active_class(sort_column_name)}" }
            - if sort_column_name
              = sortered_table_header(sort_column_name, t(".table.heads.#{head}"))
            - else
              = t(".table.heads.#{head}")

    %tbody
      %tbody
        = render partial: 'shared/revenues/revenue', collection: revenues

  .mt-4.text-center
    = paginate revenues
