.row

  .col-12.col-md-1.no-print
    .float-left

      .rounded-circle.p-1.alert-success

        %i.fa.fa-star.fa-1x.text-muted.m-2{ 'aria-hidden': 'true' }

  .col-12.col-md-11.pt-3.pt-md-1

    .text-muted

      %h4.h6.mb-0
        = t('.title')
        - if ticket_log.data[:organ_id].present?
          = " - #{Organ.find(ticket_log.data[:organ_id]).title}"

      - if ticket_log.resource.present?
        - evaluation = ticket_log.resource
        %small
          %em
            %b
              = t('.search_result_title')
        %br

        - if evaluation.average.present?
          %small
            %em
              = t('.satisfaction_average', grade: evaluation.average).html_safe
          %br

        - if evaluation.question_02.present?
          %small
            %em
              = t(".#{evaluation.evaluation_type}.perception_before", grade: evaluation.question_02).html_safe
          %br

        - if evaluation.question_03.present?
          %small
            %em
              = t(".#{evaluation.evaluation_type}.perception_after", grade: evaluation.question_03).html_safe
          %br

        - if evaluation.question_05.present?
          %small
            %em
              - grade = I18n.t("shared.answers.evaluations.questions.sou.question_05.#{evaluation.question_05}")
              = t('.demand_resolution', grade: grade).html_safe
          %br

      %small
        %em
          = l(ticket_log.created_at, format: :shorter)

%hr{'aria-hidden': 'true'}
