- content_for :title, t(".title.#{ticket.ticket_type}")
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.content-detail

  - if ticket_subscription.new_record?

    = simple_form_for ticket_subscription, url: transparency_public_ticket_subscription_path(public_ticket_id: ticket, id: ticket_subscription) do |f|

      = render 'form', f: f

  - elsif ticket_subscription.confirmed_email

    = render 'confirmed'

  - else

    = render 'unconfirmed'

