.row.mb-3
  .col-lg-12

    %label.form-control-label
      = raw(question_description)
      - if evaluation_error.present?
        %small.text-danger
          = "#{evaluation_error.to_sentence}"

    .evaluation-btn-group.btn-group.btn-group-justified{ 'data-toggle': 'radio-buttons', role: 'group', 'aria-label': question_description }
      - (1..5).each do |grade|
        - checked = f.object.send("#{field_name}") == grade
        %label.btn.btn-secondary{ class: checked ? 'active' : '' }
          = radio_button_tag("evaluation[#{field_name}]", grade, checked = checked, 'data-input': grade)
          = grade

  .col-6.text-left.degree-subtitle
    %small{'aria-hidden': 'true'}
      = t("shared.answers.evaluations.questions.#{evaluation_type}.#{field_name}.very_bad")

  .col-6.text-right.degree-subtitle
    %small{'aria-hidden': 'true'}
      = t("shared.answers.evaluations.questions.#{evaluation_type}.#{field_name}.very_well")
