- search_placeholder = local_assigns[:search_placeholder] || t('messages.filters.search.label')

.card-filters.filter-bar{'data-filter-bar': filter_id}

  = form_for filter_path, method: :get, remote: true, html: { class: 'regional-strategies-search-form' } do |f|

    = render 'shared/sortered/hidden_filters'

    .row
      .col-8

        = label_tag t('.search')
        = text_field_tag :search, params[:search], class: 'form-control'

      .col-4
        .align-button-bottom
          = f.submit t('commands.search'), class: 'btn btn-primary btn-block btn-search'

    - # Adiciona outros filtros, além da barra de busca, passados pelo bloco
    = yield
