%h2.sr-only
  = t('.title')

.row

  .col-12

    .card.card-custom

      .card-header

        .row
          .col-8
            %h3.card-title
              = budget_program.title

          .col-4
            .float-right
              - if can?(:edit, budget_program)
                = link_to t('commands.edit'), edit_admin_budget_program_path(budget_program), class: 'btn text-muted btn-link'

              - if can?(:manage, budget_program)
                = render 'shared/buttons/btn_toggle_disabled', resource: budget_program, namespace: :admin

      .card-block

        = content_with_label(budget_program, :name)

        = content_with_label(budget_program, :code)

        = content_with_label(budget_program, :theme_name)

        - if budget_program.organ.present?
          = content_with_label(budget_program, :organ_name)
        - if budget_program.subnet.present?
          = content_with_label(budget_program, :subnet_name)
