- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

%h2.font-weight-bold
  = axis.name

%h3
  = t('.title', theme: theme.name, biennium: current_biennium.to_s, region: current_region.name.titleize_with_accents)

%hr.border-2

%h4
  = t('.regional_strategies')

.row.mt-4
  .col-md-12

    %ul.nav.nav-tabs.border-bottom-0
      %li.nav-item
        = link_to t('.guidelines'), ppa_scoped_path(:theme_regional_strategies, theme), class: 'nav-link'

      %li.nav-item
        = link_to t('.proposals'), '#proposals', class: 'nav-link active border-bottom-0'

    .card.rounded.border-top-0
      .card-block.tab-content

        -# não devemos usar as classes de tab, uma vez que estamos carregando navegacionalmente
        -# apenas um conteúdo.
        -# .tab-pane#proposals{'data-toggle': 'remote-content-with-filter-bar', role: 'tabpane'}
        .proposals{'data-toggle': 'remote-content-with-filter-bar'}

          .remote-content{ 'data-remote-content': controller_name }

            - filter_new_command = { title: t('.commands.new'), path: new_ppa_proposal_path, permission: current_plan.open_for_proposals? }
            - filter_commands = { new: filter_new_command }
            - filter_options = { filter_id: :ppa_theme_proposals, filter_path: ppa_scoped_path(:theme_proposals, theme), commands: filter_commands }

            = render "ppa/themes/proposals/filters", filter_options

            - # o index é carregado como remote-content e está na partial ./_index

            .remote-content-result.mt-4{ 'data-remote-content-result': controller_name }

              .p-2.text-center.text-muted
                .fa.fa-spin.fa-refresh.mx-1
                = t('messages.loading')
