- # versão 4.0.3 tem problema de manter foco ao selecionar elemento
- # https://github.com/select2/select2/issues/4384#issuecomment-228464364
- select2_version = '4.0.2'
- flexdatalist_version = '2.2.2'
- jquery_ui_version = '1.12.1'

= stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/select2/#{select2_version}/css/select2.min.css")

= stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/#{flexdatalist_version}/jquery.flexdatalist.min.css")

= stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/#{jquery_ui_version}/jquery-ui.min.css")

= stylesheet_link_tag("https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css")
