%section.mt-4#o-que-e{ 'aria-labelledby': 'how' }
  .row
    .col-md-6
      %h2
        %i.fa.fa-info-circle.mr-2.text-green
        %strong
          = t('.what_is.title')

      %p
        = t('.what_is.description')

      %p
        = link_to t('.more'), '/portal-da-transparencia/paginas/acesso-a-informacao'


    .col-md-6.mt-3.mt-md-0
      %h2
        %i.fa.fa-wrench.mr-2.text-green
        %strong
          = t('.how_to.title')

      %p
        = t('.how_to.description')

      %p
        = link_to t('.more'), '/portal-da-transparencia/paginas/acesso-a-informacao'

