- content_for :title, t(".title.#{ticket.ticket_type}")
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

.row

  .col-12

    .card.card-custom

      .card-header

        %h2.card-title
          = t(".title.#{ticket.ticket_type}")

      .card-block

        .content

          %h3.card-subtitle
            = t(".description.title.#{ticket.ticket_type}")

          = render 'shared/tickets/description', ticket: ticket

          .content-with-label.form-group
            %p.content-label
              = t('.attachments.title')
            %p
              = render 'shared/attachments/index', ticket: ticket

          %hr{'aria-hidden': 'true'}

          %h3.card-subtitle
            = t(".form.title.#{ticket.ticket_type}")

          = render 'form', ticket: ticket
