- range = @summary[:range]

%h1.text-center
  = t('.title')
%h2.h4.text-center
  = t('.subtitle')
  %br
  = t('.subtitle_range', range)
%h3.text-center
  = @summary[:organ]

- ticket_types = [:sou, :sic]
- ticket_types.each do |ticket_type|
  - data = @summary[ticket_type]

  %h4.text-center= t(".#{ticket_type}.title")

  - data.each do |key, value|

    - if value.is_a?(Hash)
      %p.mb-0= t(".#{ticket_type}.item.#{key}.title")

      - value.each do |subkey, subvalue|
        %p.ml-4.my-0
          = t(".#{ticket_type}.item.#{key}.#{subkey}", value: subvalue)

    - else
      %p
        = t(".#{ticket_type}.item.#{key}", value: value)

  %br/
