%p= t('.greetings', name: @resource.name)


%p.preserve-whitespace= t('.instructions')

%a.button{ href: edit_password_url(@resource, reset_password_token: @token), target: '_blank' }
  = t('.btn.reset_password')


-# also available as `Devise.reset_password_within`
%p= t('.expiration_notice', duration_in_hours: (@resource.class.reset_password_within/3600 rescue 6))

%p.preserve-whitespace= t('.dismiss_notice')
