- content_for :title, t('.title')

= simple_form_for(resource, url: password_path(resource_name)) do |f|

  .row.justify-content-center

    .col-xl-6.col-12

      .card.card-custom.mt-0.h-100
        .card-header
          %h2.card-title= t('.title')

        .card-block.pb-0
          %p.mb-0= t('.instructions')

        .card-block.pb-0
          = f.input :email, autofocus: true

        .card-block
          .row
            .col-lg-4.col-12.pb-4.pb-lg-0
              = link_to t('.back'), new_session_path(resource), class: 'btn btn-outline-primary btn-block'

            .col-lg-8.col-12
              = f.submit t('.recover'), class: 'btn btn-primary btn-block'
