= simple_form_for configuration, as: :configuration, url: admin_integrations_servers_configuration_path(configuration) do |f|


  .row
    .col-4
      = f.input :month, as: :string, input_html: { class: 'month-datetimepicker' }
  %p
    = t('.label.arqfun')

  .row
    .col-6
      = f.input :arqfun_ftp_address, autofocus: true
    .col-6
      = f.input :arqfun_ftp_dir
  .row
    .col-6
      = f.input :arqfun_ftp_user
    .col-6
      = f.input :arqfun_ftp_password, input_html: { value: configuration.arqfun_ftp_password }
  .row
    .col-6
      = f.input :arqfun_ftp_passive, as: :boolean, input_html: { class: 'mr-2' }

  %hr{'aria-hidden':'true'}
  %p
    = t('.label.arqfin')
  .row
    .col-6
      = f.input :arqfin_ftp_address
    .col-6
      = f.input :arqfin_ftp_dir
  .row
    .col-6
      = f.input :arqfin_ftp_user
    .col-6
      = f.input :arqfin_ftp_password, input_html: { value: configuration.arqfin_ftp_password }
  .row
    .col-6
      = f.input :arqfin_ftp_passive, as: :boolean, input_html: { class: 'mr-2' }

  %hr{'aria-hidden':'true'}
  %p
    = t('.label.rubricas')
  .row
    .col-6
      = f.input :rubricas_ftp_address
    .col-6
      = f.input :rubricas_ftp_dir
  .row
    .col-6
      = f.input :rubricas_ftp_user
    .col-6
      = f.input :rubricas_ftp_password, input_html: { value: configuration.rubricas_ftp_password }
  .row
    .col-6
      = f.input :rubricas_ftp_passive, as: :boolean, input_html: { class: 'mr-2' }

  %hr{'aria-hidden':'true'}
  .row
    .col-md-6
      = f.simple_fields_for :schedule do |s|
        = s.input :cron_syntax_frequency, hint: true


  %hr{'aria-hidden': 'true'}

  .row
    .col-12
      = link_to t('.commands.cancel'), admin_integrations_root_path, class: 'btn btn-warning pull-left'
      = f.submit t('commands.save'), class: 'btn btn-primary float-right'
