.table-responsive
  %table.table.table-hover.table-sm.table-sorted{summary: t('.summary')}

    %thead

      %tr

        - heads = [:created_at, :protocol, :service_type, :ticket_type, :deadline, :name, :description, :actions]

        - heads.each_with_index do |head, index|
          - sort_column_name = sort_columns[index]

          %th{ class: "#{sortered_table_active_class(sort_column_name)}" }
            - if sort_column_name
              = sortered_table_header(sort_column_name, t(".heads.#{head}"))
            - else
              = t(".heads.#{head}")

    %tbody
      %tbody
        = render attendances


  = render 'shared/components/table/index_count', collection: attendances, filtered_count: filtered_count, total_count: total_count, filtered: attendance_filter_params?(params)
