- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

- can_create = can?(:create, Ombudsman)
- new_path = new_admin_ombudsman_path
- controller_name = controller.controller_name
- filter_path = admin_ombudsmen_path

%h2.sr-only
  = t('.title')

.card.card-custom

  .card-header

    %h3.card-title
      = t('.title')


  .card-block{'data-toggle': 'remote-content-with-filter-bar'}

    .remote-content{'data-remote-content': controller_name}

      - filter_new_command = { title: t('.commands.new'), path: new_path, permission: can_create }
      - filter_commands = { 'new': filter_new_command }
      - filter_options = { filter_id: :ombudsmen, filter_path: filter_path, commands: filter_commands }

      = render "shared/admin/filters", filter_options do

        .row.mt-2
          .col-12.col-md-6
            - label = t('admin.ombudsmen.index.filters.select.kind')
            - placeholder = t('messages.filters.select.all.male')
            - options = options_for_select(ombudsmen_kinds_for_select, params[:kind])
            = label_tag :kind, label
            = select_tag :kind, options, { include_blank: placeholder }


      %hr{'aria-hidden': 'true'}


      - # o index é carregado como remote-content e está na partial ./_index

      .remote-content-result{ 'data-remote-content-result': controller_name }

        .p-2.text-center.text-muted
          .fa.fa-spin.fa-refresh.mx-1
          = t('messages.loading')
