.card-filters

  .row

    - #
    - # input search
    - #
    .col-12.col-md-4.mt-2
      %label.sr-only{ for: 'search'}
        = t('.search')
      = text_field_tag(:search, params[:search], placeholder: t('.search'), class: 'form-control w-100 mb-3')

    - #
    - # button search
    - #
    .col-12.col-md-3.mt-2
      = f.submit t('commands.search'), class: 'btn btn-primary btn-block'

    - #
    - # button new
    - #
    .col-12.col-md-5.text-right.mt-2
      = link_to t('.commands.new'), new_admin_mobile_tag_path, class: 'btn btn-primary pull-right'

  .pt-3
    - filtered = params[:search].present?

    - if filtered
      %small
        .alert.alert-warning
          = raw t('messages.filters.warning_count', total: number_with_delimiter(total_count), filtered: number_with_delimiter(filtered_count))
          = link_to t('messages.filters.clear'), '#!', 'data-input': 'clear-filter', class: 'float-right'
