- content_for :title, t('.title')
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

- can_create = can?(:create, ExecutiveOrgan)
- new_path = new_admin_executive_organ_path
- controller_name = controller.controller_name
- filter_path = admin_executive_organs_path

%h2.sr-only
  = t('.title')

.card.card-custom

  .card-header

    %h3.card-title
      = t('.title')


  .card-block{'data-toggle': 'remote-content-with-filter-bar'}

    .remote-content{'data-remote-content': controller_name}

      - filter_new_command = { title: t('.commands.new'), path: new_path, permission: can_create }
      - filter_commands = { 'new': filter_new_command }
      - filter_options = { filter_id: :executive_organs, filter_path: filter_path, commands: filter_commands }

      = render "shared/admin/filters", filter_options do

        .row
          .col-6.col-md-6.mt-2
            = render "shared/admin/remote_disable_filter"

      - # o index é carregado como remote-content e está na partial ./_index

      %hr{'aria-hidden': 'true'}

      .remote-content-result{ 'data-remote-content-result': controller_name }

        .p-2.text-center.text-muted
          .fa.fa-spin.fa-refresh.mx-1
          = t('messages.loading')
