= simple_form_for answer, url: operator_ticket_change_answer_certificate_path(ticket, answer) do |f|

  .row
    .col-12
      .content-with-label
        %p.content-label= t('.current_certificate')
        %p.content-value
          = link_to answer.certificate_filename, attachment_url(answer, :certificate), target: :_blank

  %hr{ 'aria-hidden': 'true' }

  .row
    .col-12
      = f.input :certificate, as: :attachment, direct: true, label: t('.label'), input_html: { 'aria-label': t('simple_form.file.choose') }


  .row.mt-4
    .col-12
      .float-right
        = f.submit t(".commands.save"), class: 'btn btn-primary'
