%section.row.mt-5.text-gray

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'open_data'}
    .card.text-center
      = link_to transparency_open_data_data_sets_path do

        .card-img-top.mt-2
          %i.fa.fa-plug{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'open_data'}
            = t('.open_data.title')

          %p.card-text.text-muted
            = t('.open_data.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'mobile_apps'}
    .card.text-center
      = link_to transparency_mobile_apps_path do

        .card-img-top.mt-2
          %i.fa.fa-mobile{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'mobile_apps'}
            = t('.mobile_apps.title')

          %p.card-text.text-muted
            = t('.mobile_apps.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'server_salaries'}
    .card.text-center
      = link_to transparency_server_salaries_path do

        .card-img-top.mt-2
          %i.fa.fa-users{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'server_salaries'}
            = t('.server_salaries.title')

          %p.card-text.text-muted
            = t('.server_salaries.text')

%hr

%section.row.mt-5.text-gray

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'revenues_accounts'}
    .card.text-center
      = link_to transparency_revenues_accounts_path do

        .card-img-top.mt-2
          %i.fa.fa-line-chart{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'revenues_accounts'}
            = t('.revenues.accounts.title')

          %p.card-text.text-muted
            = t('.revenues.accounts.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'revenues_transfers'}
    .card.text-center
      = link_to transparency_revenues_transfers_path do

        .card-img-top.mt-2
          %i.fa.fa-line-chart{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'revenues_transfers'}
            = t('.revenues.transfers.title')

          %p.card-text.text-muted
            = t('.revenues.transfers.text')

%hr

%section.row.mt-5.text-gray


  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'npfs'}
    .card.text-center
      = link_to transparency_expenses_budget_balances_path do

        .card-img-top.mt-2
          %i.fa.fa-money{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'budget_balances'}
            = t('.expenses.budget_balances.title')

          %p.card-text.text-muted
            = t('.expenses.budget_balances.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'npfs'}
    .card.text-center
      = link_to transparency_expenses_npfs_path do

        .card-img-top.mt-2
          %i.fa.fa-money{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'npfs'}
            = t('.expenses.npfs.title')

          %p.card-text.text-muted
            = t('.expenses.npfs.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'neds'}
    .card.text-center
      = link_to transparency_expenses_neds_path do

        .card-img-top.mt-2
          %i.fa.fa-money{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'neds'}
            = t('.expenses.neds.title')

          %p.card-text.text-muted
            = t('.expenses.neds.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'nlds'}
    .card.text-center
      = link_to transparency_expenses_nlds_path do

        .card-img-top.mt-2
          %i.fa.fa-money{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'nlds'}
            = t('.expenses.nlds.title')

          %p.card-text.text-muted
            = t('.expenses.nlds.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'npds'}
    .card.text-center
      = link_to transparency_expenses_npds_path do

        .card-img-top.mt-2
          %i.fa.fa-money{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'npds'}
            = t('.expenses.npds.title')

          %p.card-text.text-muted
            = t('.expenses.npds.text')

%hr

%section.row.mt-5.text-gray

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'contracts/contracts'}
    .card.text-center
      = link_to transparency_contracts_contracts_path do

        .card-img-top.mt-2
          %i.fa.fa-file-text-o{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'contracts/contracts'}
            = t('.contracts.contracts.title')

          %p.card-text.text-muted
            = t('.contracts.contracts.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'contracts/convenants'}
    .card.text-center
      = link_to transparency_contracts_convenants_path do

        .card-img-top.mt-2
          %i.fa.fa-handshake-o{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'contracts/convenants'}
            = t('.contracts.convenants.title')

          %p.card-text.text-muted
            = t('.contracts.convenants.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'contracts/management_contracts'}
    .card.text-center
      = link_to transparency_contracts_management_contracts_path do

        .card-img-top.mt-2
          %i.fa.fa-file-text-o{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'contracts/management_contracts'}
            = t('.contracts.management_contracts.title')

          %p.card-text.text-muted
            = t('.contracts.management_contracts.text')


%hr

%section.row.mt-5.text-gray

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'ders'}
    .card.text-center
      = link_to transparency_constructions_ders_path do

        .card-img-top.mt-2
          %i.fa.fa-road{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'ders'}
            = t('.constructions.ders.title')

          %p.card-text.text-muted
            = t('.constructions.ders.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'daes'}
    .card.text-center
      = link_to transparency_constructions_daes_path do

        .card-img-top.mt-2
          %i.fa.fa-hospital-o{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'daes'}
            = t('.constructions.daes.title')

          %p.card-text.text-muted
            = t('.constructions.daes.text')

%hr

%section.row.mt-5.text-gray

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'real_states'}
    .card.text-center
      = link_to transparency_real_states_path do

        .card-img-top.mt-2
          %i.fa.fa-home{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'real_states'}
            = t('.real_states.title')

          %p.card-text.text-muted
            = t('.real_states.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'strategic_indicators'}
    .card.text-center
      = link_to transparency_results_strategic_indicators_path do

        .card-img-top.mt-2
          %i.fa.fa-check{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'strategic_indicators'}
            = t('.strategic_indicators.title')

          %p.card-text.text-muted
            = t('.strategic_indicators.text')

  %section.col-lg-4.col-md-12.mb-5{'aria-labelledby': 'thematic_indicators'}
    .card.text-center
      = link_to transparency_results_thematic_indicators_path do

        .card-img-top.mt-2
          %i.fa.fa-check{'aria-hidden': 'true'}

        .card-block.py-0
          %h4.card-title{id: 'thematic_indicators'}
            = t('.thematic_indicators.title')

          %p.card-text.text-muted
            = t('.thematic_indicators.text')
