.follow-container{data: { container: 'follow' }}
  .card.card-custom

    .card-block

      = simple_form_for transparency_follower, remote: true do |f|

        = f.input :transparency_link, as: :hidden, input_html: { value: transparency_follower.transparency_link || request.url }

        = f.input :resourceable_type, as: :hidden, input_html: { value: transparency_follower.resourceable_type || resource.model_name.name }

        = f.input :resourceable_id, as: :hidden, input_html: { value: transparency_follower.resourceable_id || resource.id }

        .row.text-center
          .col-12
            %i.fa.fa-user-plus{'aria-hidden': 'true'}
            %label
              = t('shared.transparency.followers.description')

        .row.mt-3
          .col-1
          .col-5
            = f.input :email, placeholder: t('shared.transparency.followers.email.placeholder'), label: false, input_html: { value: transparency_follower.email || current_user&.email }

          .col-5
            = f.submit t('shared.transparency.followers.submit'), class: 'btn btn-primary w-100'
          .col-1
