.card.card-custom
  .card-header
    %h2.card-title
      = t('.title')

  .card-block
    - if dae.photos.present?
      #daePhotos.carousel.slide{ "data-ride" => "carousel" }
        %ol.carousel-indicators
          - dae.photos.each_with_index do |photo, i|
            %li{ "data-slide-to" => i, "data-target" => "#daePhotos", class: ('active' if i.zero?) }

        .carousel-inner
          - dae.photos.each_with_index do |photo, i|
            .carousel-item{ class: ('active' if i.zero?) }
              = image_tag photo.url_foto, title: photo.legenda, alt: photo.legenda, class: 'd-block w-100 h-100'
              .carousel-caption.carousel-dark-caption.d-none.d-md-block.w-100
                %h5
                  = photo.descricao_conta_associada
                %p
                  = photo.legenda

        %a.carousel-control-prev{ "data-slide" => "prev", :href => "#daePhotos", :role => "button" }
          %span.carousel-control-prev-icon.carousel-dark-control{ "aria-hidden" => "true" }
          %span.sr-only
            = t('previous')
        %a.carousel-control-next{ "data-slide" => "next", :href => "#daePhotos", :role => "button" }
          %span.carousel-control-next-icon.carousel-dark-control{ "aria-hidden" => "true" }
          %span.sr-only
            = t('next')
    - else
      %i.col-md-12.text-center.d-block
        = t('.empty')

