- content_for :title, t('.title')
- content_for :stylesheet, stylesheet_link_tag(stylesheet)
- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)

- can_create = false
- new_path = nil
- controller_name = controller.controller_name
- filter_path = ppa_workshops_path

.mb-4

  .row

    .col-md-6.col-xs-12

      %h2.font-weight-bold
        = t('.title')

    .col-md-6.col-xs-12

      .pull-right
        = link_to t('.next_workshops'), ppa_workshops_path, class: 'btn btn-success'

  %hr

  .row
    .col-md-12
      %div{'data-toggle': 'remote-content-with-filter-bar'}

        .remote-content{'data-remote-content': controller_name}

          - filter_new_command = { title: t('.commands.new'), path: new_path, permission: can_create }
          - filter_commands = { 'new': filter_new_command }
          - filter_options = { filter_id: :ppa_past_workshops, filter_path: filter_path, commands: filter_commands }

          .card
            .card-block
              %h4.card-title.font-weight-bold
                = t('.form_title')

              = render "filters", filter_options

          - # o index é carregado como remote-content e está na partial ./_index

          .remote-content-result{ 'data-remote-content-result': controller_name }

            .p-2.text-center.text-muted
              .fa.fa-spin.fa-refresh.mx-1
              = t('messages.loading')
