= simple_form_for configuration, as: :configuration, url: admin_integrations_supports_domain_configuration_path(configuration) do |f|

  .row
    .col-3
      = f.input :user, autofocus: true
    .col-3
      = f.input :password, input_html: { value: configuration.password }
    .col-3
      = f.input :year
    .col-3
      = f.input :headers_soap_action

  %hr{'aria-hidden':'true'}

  .row
    .col-12
      = f.input :wsdl

  %hr

  %h5
    = Integration::Eparcerias::Configuration.human_attribute_name(:webservice_configs)
  .row
    .col-6
      = f.input :operation
    .col-6
      = f.input :response_path

  %hr{'aria-hidden':'true'}

  .row
    .col-md-6
      = f.simple_fields_for :schedule do |s|
        = s.input :cron_syntax_frequency, hint: true

  %hr{'aria-hidden': 'true'}

  .row
    .col-12
      = link_to t('.commands.cancel'), admin_integrations_root_path, class: 'btn btn-warning pull-left'
      = f.submit t('commands.save'), class: 'btn btn-primary float-right'
