:plain
  #{ t('.greetings', name: @resource.name) }


  #{ t('.instructions') }

  #{ t('.btn.reset_password') } - #{ edit_password_url(@resource, reset_password_token: @token) }


  #{ t('.expiration_notice', duration_in_hours: (@resource.class.reset_password_within/3600 rescue 6)) }

  #{ t('.dismiss_notice') }
