%label
  = t('.disabled')

.radio
  - show_disabled = params[:disabled] == '1'

  %label
    = radio_button_tag :disabled, 0, !show_disabled, onchange: 'submit();'
    = t('boolean.false')

  %label
    = radio_button_tag :disabled, 1, show_disabled, onchange: 'submit();'
    = t('boolean.true')
