- content_for :title, t('.title')

.row
  .col-12
    %h2
      = t('.title')

= render 'home/site_map/transparency'

= render 'home/site_map/sou'

= render 'home/site_map/sic'

= render 'home/site_map/services'
