%h2.card-subtitle.mb-3.h4
  = link_to t('.title'), '#!', data: { toggle: :collapse, target: "#used_inputs" }, aria: { expanded: :true, controls: :used_inputs }

#used_inputs.row.collapse.show
  - used_inputs = stats_ticket.data[:used_inputs]


  - if used_inputs.blank?
    .col-md-12.text-center
      %em= t('.no_content')

  - else

    - series_data_keys = stats_used_input_show_serie_keys(used_inputs)
    - series_data_values = stats_used_input_show_serie_values(used_inputs)
    - series_data_percentages = stats_used_input_show_serie_percentages(used_inputs)

    .chart{ data: { "chart_used_inputs_#{ticket_type}": '', title: t(".#{ticket_type}.name"), unit: t(".#{ticket_type}.unit"), series_name: [t('.series_name')] , series_data_keys: [series_data_keys], series_data_values: [series_data_values], series_data_percentages: [series_data_percentages], 'show-percentage': true } }
