- content_for :breadcrumbs, render_breadcrumbs(breadcrumbs)
- content_for :title, t('.title')

%h2.sr-only
  = t('.title')

.card

  .card-header
    %h3
      = t(".title")

  .card-block
    = render 'shared/revenues/filters'

  .card-block
    - if revenues.present?

      = render 'shared/revenues/table_revenue', revenues: revenues

    - else
      .row
        %i.col-md-12.text-center
          = t('.empty')
