= cache(cache_key) do

  = render 'shared/components/filtered_warning_with_count', total_count: total_count, filtered_count: filtered_count, filtered: filtered?

  .my-4

    %hr{'aria-hidden': 'true'}

    = render 'transparency/exports/form'

    %hr{'aria-hidden': 'true'}

    .fa.fa-spin.fa-refresh.m-1.text-muted.float-right{'data-remote-content-loader': ''}

    - header = strategic_indicators_table_header

    - table_locale = t('.table')

    = render 'shared/components/remote_table', header: header, collection: strategic_indicators, sort_columns: sort_columns, table_locale: table_locale do |strategic_indicator|

      - show_path = url_for(action: 'show', controller: 'strategic_indicators', id: strategic_indicator)

      %tr

        %td
          = link_to show_path do
            = filtered_highlighted(strategic_indicator.axis_title)

        %td
          = link_to show_path, title: strategic_indicator.organ_title do
            = filtered_highlighted(strategic_indicator.organ_sigla)

        %td
          = link_to show_path do
            = filtered_highlighted(strategic_indicator.indicador)

        %td
          = link_to show_path do
            = filtered_highlighted(strategic_indicator.unidade)

        - strategic_indicators_last_years.each do |year|
          %td
            = link_to show_path do
              - value = strategic_indicator.valores_realizados_by_year(year)
              - if value.present?
                = filtered_highlighted(value)
              - else
                = '-'
